#page1 {
	background-image: url("images/back_2.jpeg");
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
 	-o-background-size: cover;
	background-size: cover;
	padding-top: 0px;
	height: 100%
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}





/* Add a black background color to the top navigation */
.topnav {
	background-color: white;
	background: transparent;
 	margin-right: 100px;
	display: block;
	float: right;
	text-align: right;
	position: fixed;
	z-index: 16;
	width: 100%;
}


/* Style the links inside the navigation bar */
.topnav .navigators{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 300;
    color: white;
    background:transparent;
    padding: 25px 25px;
    font-size: 20px;
    text-decoration: none;
    top: 20px;
    padding-top: 40px;
    padding-right: 30px;
    float: right;
    text-align: right;
    position: sticky;

}

/* Change the color of links on hover */
.topnav .navigators:hover {
    color: #125186;
}

/* Add a color to the active/current link */
.topnav .navigators.active {
    background-color: #125186;
    color: white;
}

.h1 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 44px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	background: transparent;
	position: fixed;
	bottom: 40px;
  right: 40px;
	left: 5%;
  top: 40px;
	float: left;
  display: block;
	z-index: 11;
	text-align: left;
	height: 5%;
	width: 5%;
	text-decoration: none;
	color: #125186;
}

.h1.active{
	background-color: #125186;
	color: 125186;

}

.page1 .introduction{
	text-align:center;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-size: 44px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
        position: relative;
	top: 40%;
	color: white;


}

.page1 .introduction .subintro{
        text-align:center;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-size: 34px;
        font-style: normal;
        font-variant: normal;
        font-weight: 200;
        line-height: 26.4px;
        position: relative;
        top: 22px;
        color: white;

}

#page2{
	background-color: #1D2434;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top: 0px;
        height: 100%
}
.page2 .Om{
        text-align:center;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-size: 36px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
        position: relative;
        top: 40%;
        color: white;

}

#page3{
				background-image: url("images/newyork_1.jpeg");
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top: 0px;
        height: 100%
				opacity:  0.5;

}

#page3 .Reg{
				text-align:center;
				font-family: Futura, "Trebuchet MS", Arial, sans-serif;
				font-size: 36px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 50.4px;
				position: relative;
				color: white;
				display: block;
				height: 20%;
				z-index: 13;

}

#page3 .space{
	height: 15%;


}


#page3 #registerform{
	top: auto;
	padding-top: auto;
	display: block;
  text-align: center;
	height: 65%;
}

#errorMessages{
	height:40%;
	text-align:center;
	font-family: Arial, "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	position: relative;
	color: #CF4647;
}

#page3 #registerform .formTable{
	height:70%;
	z-index: 15;
}

.formReg{
	line-height: 20px;
	background-color: #f2f2f2;
	border-radius: 2px;
	width: 95%;
	margin: auto;


}




#page4{
	background-color: #241B1C;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top: 0px;
        height: 100%
}
.page4 .Cont{
        text-align:center;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-size: 44px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
        position: relative;
        top: 40%;
        color: white;

}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */

		opacity:  0.5;
		color: black;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   opacity:  0.5;
	 color: black;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   opacity:  0.5;
	 color: black;

}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	 opacity:  0.5;
	 color: black;

}
::-ms-input-placeholder { /* Microsoft Edge */
	 opacity:  0.5;
	 color: black;

}

::placeholder { /* Most modern browsers support this now. */
	 opacity:  0.5;
	 color: black;

}

input {
    line-height: 2em;
		height:30px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		font-size: 12px;
		padding: 3px;


}

input[type=text],[type=password]{
	padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

	border-spacing:  5px;
}


input[type=submit]{
	background-color: #CF4647;
	border-color: #CF4647;
	color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	cursor: pointer;
	width: 100%;
}

input[type=submit]:hover {
    background-color: #ab3737;
}
