::-webkit-input-placeholder { /* WebKit, Blink, Edge */

		opacity:  0.5;
		color: black;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   opacity:  0.5;
	 color: black;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   opacity:  0.5;
	 color: black;

}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	 opacity:  0.5;
	 color: black;

}
::-ms-input-placeholder { /* Microsoft Edge */
	 opacity:  0.5;
	 color: black;

}

::placeholder { /* Most modern browsers support this now. */
	 opacity:  0.5;
	 color: black;

}



.Searchforusers{
  width:100%;
	text-align:center;
  height: 100%;
  background-color: #;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.Result{
	margin: auto;
  width: 20%;
	height: 20%;
	border:1px;
	solid black;
	text-align: center;
  padding: 10px;
	background-color: #lightgrey;
}

#Result{
	margin: auto;
	width: 80%;
}

.Res{
	margin: auto !important;
	width: 100% !important;
	color: #6BB7B9 !important;
}

.employees{
	margin: auto !important;
	width: 80% !important;
}

.contact{
	margin: auto;
	padding: 10px;
	width: 80%;
	height: 10%;
	background-color: #6BB7B9;
	text-align: center;
}
