::-webkit-input-placeholder { /* WebKit, Blink, Edge */

		opacity:  0.5;
		color: black;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   opacity:  0.5;
	 color: black;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   opacity:  0.5;
	 color: black;

}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	 opacity:  0.5;
	 color: black;

}
::-ms-input-placeholder { /* Microsoft Edge */
	 opacity:  0.5;
	 color: black;

}

::placeholder { /* Most modern browsers support this now. */
	 opacity:  0.5;
	 color: black;

}



.Searchforusers{
  width:100%;
	text-align:center;
  height: 100%;
  background-color: #;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.Result{
	margin: auto;
  width: 20%;
	height: 20%;
	border:1px;
	solid black;
	text-align: center;
  padding: 10px;
	background-color: #lightgrey;
}

#Result{
	margin: auto;
	width: 80%;
}

.Res{
	margin: auto !important;
	width: 90% !important;
	color: #6BB7B9 !important;
}

.employees{
	float: right;
	margin: auto;
	-ms-transform: scale(1.75); /* IE */
  -moz-transform: scale(1.75); /* FF */
  -webkit-transform: scale(1.75); /* Safari and Chrome */
  -o-transform: scale(1.75); /* Opera */
	margin-right: 2%;
	margin-top: 1.3%;
}

.synonyms{
	-ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

.contact{
	margin: auto;
	padding: 10px;
	width: 85%;
	height: 10%;
	background-color: #6BB7B9;
	text-align: center;
	float:center;
	margin-right: 9.75%;

}

.field{
	margin-bottom:20px;
}

.Rubrik{
	font-weight: bold;
}

.Tryshiftright{
	width: 20%;
	text-align: right;
	float:left;
	font-size: 0.875em;
}

.Tryshiftleft{
	text-align: left;
	float: left;
	overflow: hidden;
	font-weight: bold;
	font-size: 0.875em;
}

.page1{
	/*background-color: #C3C3C3;*/
	background-color: white;
}

.overall{
	background-color: white;
}

#notaccordion{
	overflow: hidden;
}

.SeeCV{

}

.Desc{
	display: block;
    margin-left: auto;
    margin-right: auto;
		margin-bottom: auto;
		margin-top: auto;
		top:50%;
		bottom: 50%;
		right: 50%;
		left: 50%;

}

.pagnation{
	float: right !important;
	margin-top: 1.5%;
	margin-right: 5%;
}


.ui dropdown{
	display: inline-block;
	width:20% !important;
}
